@import 'src/css/variables';

mat-spinner {
  margin-top: 3px;
  margin-left: 3px;
}

material-icons {
  color: #24406d;
}

button {
  width: auto;
  height: auto;
  line-height: 0px;
  color: #24406d;
}

.btn,
.btn:active,
.btn:focus {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background-color: transparent;

  color: #000000de;
  opacity: 0.6;
  cursor: pointer;
}

.mat-row:hover {
  background: $row-hover;
}

.pointer-cell {
  cursor: default;
}

.mat-header-cell {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 13px !important;
  letter-spacing: 0.09px;
  line-height: unset;
  text-align: unset;
  color: #000000de;
}
