<div *ngIf="!dataSource" class="no-results mt-5">
  <div>
    <img src="./assets/images/empty-results.svg" />
  </div>
  <div>
    <p class="empty-message">Δεν υπάρχουν αποτελέσματα. Eπαναπροσδιορίστε την αναζήτησή σας</p>
  </div>
</div>

<div class="container mt-5" *ngIf="dataSource">
  <div>
    <mat-table mat-table [dataSource]="dataSource">
      <div *ngFor="let tableItem of tableItems">
        <ng-container [matColumnDef]="tableItem.columnDef">
          <mat-header-cell class="fs-14" *matHeaderCellDef>{{
            tableItem.headerCellDef
          }}</mat-header-cell>
          <mat-cell class="pointer-cell" *matCellDef="let row; let index = index">
            <div *ngIf="tableItem.columnDef !== 'actions'">{{ row[tableItem.columnDef] }}</div>
            <div *ngIf="tableItem.columnDef === 'iban' && row[tableItem.columnDef] =='' "><button class="mat-icon-btn" (click)="getCard(row)"><mat-icon>payment</mat-icon></button></div>
            <div *ngIf="tableItem.columnDef === 'actions'">
              <div class="action-row" *ngIf="row.activeStandingOrder">
                <div (click)="edit(row)">
                  <button class="btn">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div (click)="delete(index, row)">
                  <button class="btn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="pageSize"
    [length]="totalEs"
    (page)="pageEvent = $event; onPaginateChange($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
