<div id="stepper-wrapper" class="stepper-wrapper">
  <div class="step">
    <!-- <div *ngIf="isShowSpinner" class="mask-mobile-spinner-loader">
      <div class="mask-mobile-spinner">
        <div class="spinner-symbol">
          <mat-spinner
            [ngClass]="'mat-spinner-' + spinnerStatus"
            diameter="80"
            strokeWidth="2"
            [mode]="spinnerMode"
            value="100"
          ></mat-spinner>
          <div [ngClass]="spinnerStatusContent">
            <div class="first-line"></div>
            <div class="second-line"></div>
          </div>
        </div>
      </div>
      <div class="mask-mobile-p">
        <div class="p-button">
          <p *ngIf="spinne rStatus !== 'warning'">
            {{ spinnerStatusMessage | translate }}
          </p>
          <button *ngIf="spinnerStatus === 'warning'" (click)="goHome()" mat-button>
            {{
              stepper?.selectedIndex === 0
                ? ('progress.tryAgain' | translate)
                : ('main.wizard.creditCard.previousPage' | translate)
            }}
          </button>
        </div>
      </div>
    </div> -->

    <!-- <div>Πληροφορίες πληρωμής</div> -->
    <h1 class="justify-content-center mt-2 mb-6 h-content">Πληροφορίες πληρωμής</h1>
    <div *ngIf="res">
      <form name="policyResponseForm">
        <div class="row">
          <div class="container" style="align-items: center">
            <mat-form-field class="field-width">
              <mat-label>Ονομ/μο Εντολέα</mat-label>
              <input [value]="res.fullName" matInput disabled />
              <!-- <input [value]="res.firstName + ' ' res.lastName" matInput /> -->
            </mat-form-field>
            <mat-form-field class="field-width">
              <mat-label>Email Αποστολής</mat-label>
              <input [value]="res.email" matInput disabled />
            </mat-form-field>
            <mat-form-field class="field-width">
              <mat-label>Τράπεζα Εντολέα</mat-label>
              <input [value]="res.organizationDescription" matInput disabled />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="mask-desktop-spinner-loader">
    <div class="mask-desktop-spinner">
      <div class="spinner-symbol">
        <mat-spinner
          [ngClass]="'mat-spinner-success'"
          diameter="212"
          strokeWidth="7"
          [mode]="spinnerMode"
          value="100"
        ></mat-spinner>
        <div>
          <div class="successContent">
            <div class="success-status">
              <div class="first-line"></div>
              <div class="second-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div [ngClass]="spinnerStatusContent">
    <div class="success-status">
      <div class="first-line"></div>
      <div class="second-line"></div>
    </div>
  </div> -->

  <!-- <div *ngIf="!isShowSpinner" #backgroundImage class="mask-desktop"> -->
  <!-- <p *ngIf="step === 0">im here 1</p>
    <p *ngIf="step === 1">im here 2</p> -->
  <!-- </div> -->
  <!-- <div *ngIf="isShowSpinner" class="mask-desktop-spinner-loader">
    <div class="mask-desktop-spinner">
      <div class="spinner-symbol">
        <mat-spinner
          [ngClass]="'mat-spinner-' + spinnerStatus"
          diameter="212"
          strokeWidth="7"
          [mode]="spinnerMode"
          value="100"
        ></mat-spinner>
        <div [ngClass]="spinnerStatusContent">
          <div class="first-line"></div>
          <div class="second-line"></div>
        </div>
      </div>
    </div>
    <div class="mask-desktop-p">
      <div class="p-button">
        <p>{{ spinnerStatusMessage | translate }}</p>
        <button *ngIf="spinnerStatus === 'warning'" (click)="goHome()" mat-raised-button>
          {{
            stepper.selectedIndex === 0
              ? ('progress.tryAgain' | translate)
              : ('main.wizard.creditCard.previousPage' | translate)
          }}
        </button>
      </div>
    </div>
  </div> -->
</div>
