<div id="stepper-wrapper" class="stepper-wrapper">
  <div class="step">
    <div class="justify-content-center mt-2 mb-15">
      <img src="./assets/images/ethniki_white.png" />
    </div>
    <div *ngIf="!isShowSpinner" #backgroundImage class="mask-mobile"></div>
    <!-- *ngIf="step === 0 && clientContainerService.isPolicyLoading" -->
    <app-policy-details *ngIf="step === 0"></app-policy-details>
    <!-- <app-loader *ngIf="clientContainerService.isPolicyLoading"></app-loader> -->
    <app-credit-card *ngIf="step === 1"></app-credit-card>
  </div>

  <!-- <div *ngIf="step === 0" class="mask-desktop-spinner-loader">
    <div class="mask-desktop-spinner">
      <div class="spinner-symbol">
        <mat-spinner
          [ngClass]="'mat-spinner-success'"
          diameter="212"
          strokeWidth="7"
          [mode]="spinnerMode"
          value="100"
        >
        </mat-spinner>
        <div>
          <div class="successContent">
            <div class="success-status">
              <div class="first-line"></div>
              <div class="second-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div #backgroundImage class="mask-desktop"></div>
</div>
