@import '/src/css/variables.scss';

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $blue-primary-main;
  width: 100%;
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    justify-content: inherit;
  }
  margin-bottom: 30px;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item{
  margin-right: 4px;
    color: white;
    margin-bottom: 2px;
}
a {
  color: $white-text-primary;
}

.nav-img{
  cursor: pointer;
}
