@import '/src/css/variables.scss';
@import '/src/css/responsive-breakpoints.scss';
@import '/src/css/mixins.scss';

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $blue-primary-main;
  width: 100%;
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    justify-content: inherit;
  }
  margin-bottom: 30px;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;

}
.item{
  margin-right: 4px;
    color: white;
    margin-bottom: 2px;
    @include viewport-mobile-tablet {
      display: none;
     }
}
a {
  color: $white-text-primary;
}

.nav-img{
  cursor: pointer;
}


.environment {
  @include environment-info(1rem);
  &.large {
    padding-top: 4px;
    display: flex !important;
  }
  &.small {
    display: none !important;
  }

  @include mobile-only {
    @include environment-info-small($blue-primary-main);

    &.large {
      display: none !important;
    }
    &.small {
      display: flex !important;
    }
  }
}