<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" name="searchForm" id="searchCriteria">
  <div class="form-row">
    <div class="form-row-item go-back">
      <a (click)="backHome()">
        <mat-icon>chevron_left</mat-icon>
        <span>ΚΕΝΤΡΙΚΗ</span>
      </a>
    </div>
    <div class="form-row-item">
      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Κλάδος</mat-label>
          <mat-select formControlName="lineOfBusiness" matNativeControl>
            <mat-option
              *ngFor="let item of linesOfBusinesses$ | async"
              [value]="item.lineOfBusiness"
              ngDefaultControl
            >
              {{ item.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Επίθετο Πελάτη</mat-label>
          <input formControlName="customerLastName" type="text" matInput />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('customerLastName').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Όνομα Πελάτη</mat-label>
          <input formControlName="customerFirstName" type="text" matInput />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('customerFirstName').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Αρ. Πάγιας Εντολής</mat-label>
          <input formControlName="paymentId" type="text" matInput />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('paymentId').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div
        *ngIf="searchForm.controls.lineOfBusiness.value === 'LIFE'"
        class="form-field mr-10"
        fxLayout="column"
      >
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Αρ. Αίτησης</mat-label>
          <input formControlName="endorsement" type="string" matInput />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('endorsement').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Ημ/νία Εισαγωγής Από - Έως</mat-label>
          <mat-date-range-input [rangePicker]="completedDateRange" [min]="minDate">
            <input formControlName="payDateFrom" matStartDate placeholder="Από" />
            <input formControlName="payDateTo" matEndDate placeholder="Εώς" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="completedDateRange"></mat-datepicker-toggle>
          <mat-date-range-picker #completedDateRange></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Αρ. Συμβολαίου</mat-label>
          <input
            formControlName="policyNumber"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)  &&
          !(event.target.value.length == 0 && event.which == 48)"
            maxlength="9"
            matInput
          />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('policyNumber').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Τύπος Πληρωμής</mat-label>
          <mat-select formControlName="paymentType" matNativeControl>
            <mat-option
              *ngFor="let item of paymentTypes$ | async"
              [value]="item.paymentType"
              ngDefaultControl
            >
              {{ item.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        *ngIf="searchForm.controls.paymentType.value == 'BANK_ACCOUNT'"
        class="form-field mr-10"
        fxLayout="column"
      >
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Τρ. Λογαριασμός</mat-label>
          <input formControlName="bankAccount" type="number" matInput />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('bankAccount').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-field mr-10" fxLayout="column">
        <mat-form-field fxLayout="row" appearance="fill">
          <mat-label>Κωδικός Παραγωγού</mat-label>
          <input formControlName="agent" type="string" matInput />
          <button
            class="close-icon"
            type="button"
            (click)="this.searchForm.get('agent').setValue(null)"
            tabindex="-1"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row-item"></div>
  </div>

  <mat-dialog-actions class="center mt-20">
    <button mat-raised-button type="button" class="common-btn mr-10" (click)="resetForm()">
      Καθαρισμος
    </button>
    <button
      mat-raised-button
      class="search-btn"
      id="searchBtn"
      [disabled]="!searchForm.valid || searchBtnDisabled"
      type="submit"
    >
      Αναζήτηση
    </button>
  </mat-dialog-actions>
</form>

<app-search-table [searchId]="searchId" class="center"></app-search-table>
