<mat-card class="mat-card-outer">
    <mat-card-header>
        <div class="card-title">Επιλογή τρόπου πληρωμής</div>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="creationalForm" name="creationalForm">
            <mat-form-field class="field-width">
                <mat-label>Κλάδος</mat-label>
                <input formControlName="lineOfBusiness" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label>Αρ. συμβολαίου</mat-label>
                <input formControlName="policyNo" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label></mat-label>
                <input formControlName="endorsement" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label>'Ονομα</mat-label>
                <input formControlName="firstName" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label>Επίθετο</mat-label>
                <input formControlName="lastName" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label>Οδός</mat-label>
                <input formControlName="street" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label>Πόλη</mat-label>
                <input formControlName="city" matInput />
            </mat-form-field>
            <mat-form-field  class="field-width">
                <mat-label>Τηλέφωνο</mat-label>
                <input formControlName="phoneNumber" matInput />
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>