<div *ngIf="!dataSource || !dataSource.data.length" class="no-results mt-5">
  <div>
    <img src="./assets/images/empty-results.svg" />
  </div>
  <div>
    <p class="empty-message">Δεν υπάρχουν αποτελέσματα. Eπαναπροσδιορίστε την αναζήτησή σας</p>
  </div>
</div>
<div class="w-90 mt-5" *ngIf="dataSource && dataSource.data.length">
  <mat-table mat-table [dataSource]="dataSource" class="justify-items-center">
    <div *ngFor="let tableItem of tableItems">
      <ng-container [matColumnDef]="tableItem.columnDef">
        <mat-header-cell class="fs-14" *matHeaderCellDef>{{
          tableItem.headerCellDef
        }}</mat-header-cell>
        <mat-cell class="pointer-cell" *matCellDef="let row; let index = index">
          <div *ngIf="tableItem.columnDef !== 'actions'" class="tablet-label">
            {{ tableItem.headerCellDef }}:
          </div>
          <div>
            <!-- {{ row[tableItem.columnDef] ? row[tableItem.columnDef] : 'N/A' }} -->
            {{ row[tableItem.columnDef] }}
          </div>
          <div class="action-row" *ngIf="tableItem.columnDef === 'actions'">
            <div (click)="update(row)">
              <button class="btn">
                <mat-icon class="update-row">refresh</mat-icon>
              </button>
            </div>
            <div (click)="edit(row)">
              <button class="btn">
                <mat-icon class="edit-row">edit</mat-icon>
              </button>
            </div>
            <div (click)="cancel(row)">
              <button class="btn">
                <mat-icon class="delete-row">delete</mat-icon>
              </button>
            </div>
            <div (click)="create(row)">
              <button class="btn">
                <mat-icon class="active">add</mat-icon>
              </button>
            </div>
          </div>
        </mat-cell>
      </ng-container>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="pageSize"
    [length]="totalEs"
    (page)="pageEvent = $event; onPaginateChange($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
