.row-item {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
.icon-container {
  margin-bottom: 15px;
  margin-left: 5px;
  color: greenyellow;
  .icon-font {
      font-size:28px;
  }
}

.mat-form-field-infix {
   
    width: auto;
}