
.flex-row{
display:flex;
flex-direction: row;
justify-content: center;
margin-top:10px;
    .btn-container{
        width:40%;
        min-width:460px;
        
    }
}




.button-set {
    display: flex;
    justify-content: space-between;

    padding: 2rem 0;
    width: 100%;
  
   
  }
