@import './variables.scss';
@import './mixins.scss';
@include _font-face('Roboto', '../assets/fonts/Roboto-Regular.ttf');

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: $background-main;
  @include _container(100%, 100vh);

  font-weight: normal;
  font-family: $font-family;
  // overflow: hidden;
  font-size: 1em;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.fs-14 {
  font-size: 14px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
