@import '/src/css/variables.scss';
@import '/src/css/mixins.scss';

button {
  border-radius: 5px;
}

.mat-icon-btn {
  border: none;
  background-color: transparent;
  color: $white-text-primary;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

.mat-raised-button {
  font-weight: $regular;
  font-size: 14px;
  min-width: 100px !important;
  height: 48px;
  letter-spacing: 0.4px;
}

.mobile-btn {
  @include viewport-mobile-tablet {
    position: absolute;
    bottom: 0;
    width: 100% !important;
  }
}

.mobile-btn .mat-raised-button {
  @include viewport-mobile-tablet {
    border-radius: 0px !important;
    width: 100% !important;
  }
}

.common-btn {
  border: 1px solid $blue-primary-main !important;
  border-radius: 9px;
  padding: inherit;
  margin: inherit;
  min-width: 100px !important;
  box-shadow: unset !important;
  text-transform: uppercase;
  background-color: transparent;
  color: $blue-primary-main;

  .home-icon {
    display: inline-block !important;
    line-height: 18px;
    margin-right: 8px;
  }
}

.search-btn {
  border: none;
  border-radius: 9px;
  padding: inherit;
  margin: inherit;
  min-width: 100px;
  box-shadow: unset;
  text-transform: uppercase;
  background-color: $blue-primary-main;
  color: $white-text-primary;
}

.payment-btn {
  border: none;
  border-radius: 9px;
  padding: inherit;
  margin: inherit;
  min-width: 100px;
  box-shadow: unset;
  text-transform: uppercase;
  background-color: $blue-primary-main;
  color: $white-text-primary;
}

// For outer circle
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $blue-primary-main;
}

// For inner circle
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $blue-primary-main;
}
