
mat-card.mat-card-outer {
  margin: auto;
  padding: 0px;
  width: 40%;
  @include tablet-landscape {
    width: 60%;
  }

  @include mobile-only {
    width: 80%;
  }
  border-radius: 9px;
  min-width: fit-content;
  mat-card-header.mat-card-header {
    width: auto;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00529c;
    border-radius: 9px 9px 0 0;
  }
  .card-title {
    border-radius: 9px 9px 0 0;
    height: 26px;
    color: $white-text-primary;
    letter-spacing: 0.26px;
    font-size: 18px;
    margin: 0;
    padding: 2rem 0 0 1.5rem;
    background-color: $blue-primary-main;
  }
  .mat-card-content {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 2rem 1.5rem;
    form .container {
      display: flex;
      flex-direction: column;
    }

  
  }

  .mat-card-actions {
    padding: 0px 30px;
    margin: 0px;

    .mat-raised-button {
      margin: 0px;
    }
  }
}

.mat-card-inner {
  padding: 1rem 0;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
