form {
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
  }
  
  .field-wrapper {
    margin-left: 2%;
    margin-right: 2%;
    flex: 1 1 46%;
    max-width: 46%;
  }
  
  mat-form-field.mat-form-field {
    width: 424px;
    min-height: auto;
    min-height: 56px;
    background-color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 1rem;
  }
  
  .field-wrapper-row {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    .mat-form-field {
      width: 267px;
    }
  
    .mat-form-field:last-child {
      margin-left: 25px;
      width: 133px;
    }
  
    .mat-input-element {
      font-size: 16px !important;
    }
  }
  