/*Colors*/
$blue-primary-main: #00529c;
$blue-primary-light: #6881c4;
$blue-primary-dark: #024a86;
$red-primary: #d8222b;
$black-text-primary: #000000de;
$black-text-secondary: #00000099;
$white-text-primary: #ffffff;
$white-text-secondary: #ffffffcc;
$black-text-disabled: #00000061;
$borders-dividers: #0000001f;
$white-text-disabled: #ffffff80;
$background-main: #f5f7fb;
$row-hover: #eeeeff;
$primary-color: #024a86;
$warn-color: #e30303;
$accent-color: #919392;
$black-color: #000000de;

/* fonts & character styles */
$font-family: 'Lato', sans-serif;
$font-lato-light: #f5f7fb;
$font-lato-regular-medium: #00000099;
$font-lato-regular-white-large: #ffffffde;
$font-lato-bold: #ffffff;
$font-lato-bold-large: $black-color;

$regular: normal;
$bold: bold;

/* credit card */
$font-lato-regular-small: rgba(0, 0, 0, 0.5411764705882353);
$border-input-disabled: rgb(204, 199, 199);

/*Typography*/
$thin: 100;
$light: 300;
$regular: normal;
$medium: 500;
$bold: bold;
$black: 900;
