.field-width {
    box-sizing: border-box;
    max-width: 80%;
  }
  
  .date-field-width {
    max-width: 40%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  mat-select-placeholder {
    color:black!important;
  }
 
  