@import 'src/css/variables';

.mat-dialog-container {
  border-radius: 9px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4;
  letter-spacing: 0.09px;
  color: $font-lato-regular-medium;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: justify;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__no-title {
    justify-content: flex-end;
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      background-color: $primary-color;
      color: white;
    }
  }
  &__close-btn {
    cursor: pointer;
    border-style: none;
    background-color: inherit;
  }
  &__close-btn:focus,
  &__close-btn:hover,
  &__close-btn:active {
    outline: none;
    border-style: none;
    background-color: inherit;
  }
}
.distance {
  margin-top: 20px;
  margin-bottom: 40px;
}
