<div class="action flex" mat-dialog-title>
  <h3>Δημιουργία Εντολής Πληρωμής</h3>
  <button (click)="dismiss()" class="action__close-btn"><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content>
  <form [formGroup]="receiptForm" (ngSubmit)="onSubmit()" name="receiptForm">
    <!-- <div class="form-row"> -->
    <div>
      <div class="form-row-item">
        <div class="mr-10 distance" fxLayout="column">
          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Κατάσταση</mat-label>
            <mat-select formControlName="status" matNativeControl>
              <mat-option
                *ngFor="let item of dataService.receiptStatuses"
                [value]="item.receiptStatus"
                ngDefaultControl
              >
                {{ item.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Κλάδος</mat-label>
            <mat-select formControlName="lineOfBusiness" matNativeControl>
              <mat-option
                *ngFor="let item of linesOfBusiness"
                [value]="item.lineOfBusiness"
                ngDefaultControl
              >
                {{ item.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Αρ. Συμβολαίου</mat-label>
            <input formControlName="policyNo" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Έλεγχος ψηφίου</mat-label>
            <input formControlName="checkDigit" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Αίτηση</mat-label>
            <input formControlName="endorsement" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Απόδειξη</mat-label>
            <input formControlName="receipt" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Τύπος Πληρωμής</mat-label>
            <mat-select formControlName="paymentType" matNativeControl>
              <mat-option
                *ngFor="let item of dataService.paymentTypes"
                [value]="item.paymentType"
                ngDefaultControl
              >
                {{ item.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Δόσεις</mat-label>
            <input formControlName="installments" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Κατάστημα</mat-label>
            <input formControlName="branchStore" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Collection Agency</mat-label>
            <input formControlName="collectionAgency" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Πράκτορας</mat-label>
            <input formControlName="agent" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ποσό</mat-label>
            <input formControlName="amount" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ποσό Αίτησης</mat-label>
            <input formControlName="endorsementAmount" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ποσό Δόσης</mat-label>
            <input formControlName="installmentAmount" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ποσό Δόσης 2</mat-label>
            <input formControlName="installment2Amount" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ημ/νία Τιμολόγησης</mat-label>
            <input matInput [matDatepicker]="billingDatePicker" formControlName="billingDate" />
            <mat-datepicker-toggle matSuffix [for]="billingDatePicker"> </mat-datepicker-toggle>
            <mat-datepicker #billingDatePicker> </mat-datepicker>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ημ/νία Έκδοσης</mat-label>
            <input matInput [matDatepicker]="issueDatePicker" formControlName="issueDate" />
            <mat-datepicker-toggle matSuffix [for]="issueDatePicker"> </mat-datepicker-toggle>
            <mat-datepicker #issueDatePicker> </mat-datepicker>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ημ/νία Πληρωμής</mat-label>
            <input matInput [matDatepicker]="paymentDatePicker" formControlName="paymentDate" />
            <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"> </mat-datepicker-toggle>
            <mat-datepicker #paymentDatePicker> </mat-datepicker>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ημ/νία Απάντησης Τράπεζας</mat-label>
            <input
              matInput
              [matDatepicker]="bankResponseDatePicker"
              formControlName="bankResponseDate"
            />
            <mat-datepicker-toggle matSuffix [for]="bankResponseDatePicker">
            </mat-datepicker-toggle>
            <mat-datepicker #bankResponseDatePicker> </mat-datepicker>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Ημ/νία Εγγραφής</mat-label>
            <input matInput [matDatepicker]="registerDatePicker" formControlName="registerDate" />
            <mat-datepicker-toggle matSuffix [for]="registerDatePicker"> </mat-datepicker-toggle>
            <mat-datepicker #registerDatePicker> </mat-datepicker>
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Reversal No</mat-label>
            <input formControlName="reversalNo" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Reversal No 2</mat-label>
            <input formControlName="reversalNo2" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Collection Tries</mat-label>
            <input formControlName="collectionTries" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Order No</mat-label>
            <input formControlName="orderNo" matInput />
          </mat-form-field>

          <mat-form-field class="mr-2" fxLayout="row" appearance="fill">
            <mat-label>Loan No</mat-label>
            <input formControlName="loanNo" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="action-row">
      <button mat-raised-button type="submit">ΑΠΟΘΗΚΕΥΣΗ</button>
    </div>
  </form>
</mat-dialog-content>
