<mat-card class="mat-card-outer">
  <mat-card-header>
    <div class="card-title">Επεξεργασία</div>
  </mat-card-header>
  <mat-card-content>
    <form
      (ngSubmit)="isValid ? submit() : validate()"
      [formGroup]="form"
      name="searchForm"
      class="align-items-center"
    >
      <div class="row">
        <div class="container">
          <mat-form-field class="field-width">
            <mat-label>ΙΒΑΝ</mat-label>
            <input
              formControlName="iban"
              type="string"
              matInput
              placeholder="Συμπληρώστε το Νούμερο του Agent"
            />
          </mat-form-field>
        </div>
      </div>
      <mat-dialog-actions class="submit-btn">
        <button mat-raised-button class="search-btn" id="searchBtn" type="submit">
          {{ isValid ? 'Ανανέωση' : 'Έλεγχος' }}
        </button>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</mat-card>
<app-home-button></app-home-button>
