// .submit-btn {
//   width: 100%;
//   display: flex;
//   align-content: stretch;
//   align-items: flex-end;
//   flex-direction: column;
// }

.card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.in-column{
    display: flex;
    flex-direction: column;
}

mat-form-field.mat-form-field {
    margin-bottom:0.5rem;
}
.bottom-margin{
    margin-bottom: 6px;
}